#produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}
#carrinho {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    
  
}

#botoes {
  display: flex;       
  align-items: center; 
  gap: 1rem;           
  margin-top: 1rem;
  color: blue
}